$clr-white: #fff;
$clr-black: #000;
$clr-grey1: #F6F6F6;
$clr-grey2: #E5E5E5;
$clr-grey3: #66666A;
$clr-grey4: #363636;
$clr-grey5: #888;
$clr-grey6: #464646;
$clr-green1: #78B546;
$clr-green2: #69AD32;
$clr-green3: #0E3A27;
$unicodes : ((1: \f09a, 2: \f099, 3: \f0d5));